<div class="bg-blue-100 h-full w-full grid relative">
  <!-- Circle Top -->
  <div class="absolute left-[50%]">
    <app-svg src="icons/auth/double-circles.svg"></app-svg>
  </div>

  <!-- Circle Bottom -->
  <div class="absolute bottom-0 left-[60%]">
    <app-svg src="icons/auth/double-circles.svg"></app-svg>
  </div>

  <!-- Triangle Top Left -->
  <div class="absolute top-[25%]">
    <app-svg src="icons/auth/double-poligon.svg"></app-svg>
  </div>

  <!-- Triangle Bottom Left -->
  <div class="absolute bottom-0">
    <app-svg src="icons/auth/double-poligon.svg"></app-svg>
  </div>

  <!-- Triangle Top Right -->
  <div class="absolute right-0 top-[25%]">
    <app-svg src="icons/auth/double-poligon.svg"></app-svg>
  </div>

  <!-- Triangle Bottom Left -->
  <div class="absolute right-0 bottom-0">
    <app-svg src="icons/auth/double-poligon.svg"></app-svg>
  </div>

  <ng-content select="[content]"></ng-content>
</div>
