<div class="border-[1px] border-neutral-300 rounded-[8px] w-full h-auto">
  <div class="flex justify-between gap-4 flex-wrap items-center px-4 pt-4">
    <div class="flex items-center gap-4">
      @if (iconSrc()) {
        <app-svg
          svgWidth="1.5rem"
          svgHeight="1.5rem"
          [src]="iconSrc()!"
        ></app-svg>
      }

      <div>
        <h3 class="text-[0.9rem] fw-500">{{ label() }}</h3>
        @if (description()) {
          <p class="acva-para-1 text-neutral-400 text-sm">
            {{ description() }}
          </p>
        }
      </div>
    </div>

    <ng-content select="[rightHeaderContent]"></ng-content>
  </div>

  @if (showDivider()) {
    <mat-divider [class]="dividerClass()"></mat-divider>
  }

  <ng-content select="[content]"></ng-content>
</div>
