#container {
  display: grid;
  place-items: center;
  height: 100%;
  width: 100%;

  img {
    transition: all 2s ease-in-out;
    animation: pulse 2s ease-out infinite;
  }

  @keyframes pulse {
    0%,
    100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
  }
}
