<div class="border-r-2 border-gray-200 p-4 h-full">
  <h3 class="acva-heading-4">Settings</h3>
  <p class="acva-para-1 text-gray-500">
    Enhance your account through preferences and notifications that work best for you
  </p>

  <ul class="mt-8 grid gap-1 overflow-y-auto">
    @for (route of menu(); track route) {
      <li class="cursor-pointer">
        <a
          class="flex items-center gap-2 text-gray-400 justify-between py-[1rem] px-[0.6938rem] no-underline rounded-[1rem] transition-all duration-200 ease-in-out acva-para-2 hover:bg-gray-200"
          [routerLink]="route.route"
          routerLinkActive="text-black! bg-gray-200"
        >
          <div class="flex gap-2 items-center">
            <app-svg [src]="route.inactive_icon" [svgWidth]="'1.5rem'" />
            <div>
              <h5 class="font-semibold">{{ route.label }}</h5>
              <p class="text-[.9rem]">{{ route.description }}</p>
            </div>
          </div>

          <app-svg src="icons/general/arrow-right-icon.svg" />
        </a>
      </li>
    }
  </ul>
</div>
