@if (type() === 'fill') {
  <button
    type="button"
    mat-flat-button
    [disabled]="disabled() || loading()"
    [class]="`${class()} btn-solid`"
    [style.cursor]="disabled() || loading() ? 'not-allowed' : 'pointer'"
    (click)="onBtnclick()"
  >
    @if (icon()) {
      <app-svg svgWidth="1.3rem" svgHeight="1.3rem" [src]="icon()!"></app-svg>
    }

    {{ label() }}

    @if (loading()) {
      <mat-spinner diameter="16"></mat-spinner>
    }
  </button>
}

@if (type() === 'clear') {
  <button
    type="button"
    mat-button
    [disabled]="disabled() || loading()"
    [class]="`${class()}`"
    [style.cursor]="disabled() || loading() ? 'not-allowed' : 'pointer'"
    (click)="onBtnclick()"
  >
    @if (icon()) {
      <app-svg svgWidth="1.3rem" svgHeight="1.3rem" [src]="icon()!"></app-svg>
    }

    {{ label() }}

    @if (loading()) {
      <mat-spinner diameter="16"></mat-spinner>
    }
  </button>
}

@if (type() === 'outline') {
  <button
    type="button"
    mat-stroked-button
    [disabled]="disabled() || loading()"
    [class]="`${class()}`"
    [style.cursor]="disabled() || loading() ? 'not-allowed' : 'pointer'"
    (click)="onBtnclick()"
  >
    @if (icon()) {
      <app-svg svgWidth="1.3rem" svgHeight="1.3rem" [src]="icon()!"></app-svg>
    }

    {{ label() }}

    @if (loading()) {
      <mat-spinner diameter="16"></mat-spinner>
    }
  </button>
}
