:host {
  @apply w-full;

  ::ng-deep.mdc-linear-progress__bar-inner {
    --mdc-linear-progress-active-indicator-color: rgb(213 213 213);

    @apply rounded-[50px];
  }

  .first-bar {
    ::ng-deep.mdc-linear-progress__bar-inner {
      --mdc-linear-progress-active-indicator-color: red;
    }
  }

  .second-bar {
    ::ng-deep.mdc-linear-progress__bar-inner {
      --mdc-linear-progress-active-indicator-color: #fdde35;
    }
  }

  .third-bar {
    ::ng-deep.mdc-linear-progress__bar-inner {
      --mdc-linear-progress-active-indicator-color: #19cb19;
    }
  }
}
