<div [matMenuTriggerFor]="menu" class="cursor-pointer pt-1">
  <div class="flex gap-3 items-center">
    <mat-progress-bar
      [class.first-bar]="validity().contains1UpperCase"
      value="100"
    ></mat-progress-bar>

    <mat-progress-bar
      [class.second-bar]="
        validity().contains1UpperCase && validity().contains1Number
      "
      value="100"
    ></mat-progress-bar>

    <mat-progress-bar
      [class.third-bar]="
        validity().contains1UpperCase &&
        validity().contains1Number &&
        validity().min8Characters
      "
      value="100"
    ></mat-progress-bar>
  </div>

  <p class="acva-para-1 text-neutral-500 flex items-center justify-between">
    <span>
      @if (
        validity().contains1UpperCase &&
        validity().contains1Number &&
        validity().min8Characters
      ) {
        <span class="text-green-400">Secure password</span>
      } @else if (validity().contains1UpperCase && validity().contains1Number) {
        <span class="text-yellow-400">Strong password</span>
      } @else if (validity().contains1UpperCase) {
        <span class="text-red-400">Weak password</span>
      } @else {
        <span class="text-red-400">Weak password</span>
      }
      , must contain;
    </span>

    <app-svg src="icons/auth/arrow-down-icon.svg"></app-svg>
  </p>
  <mat-menu #menu="matMenu" class="w-[60vw]">
    <ul class="list-style-none px-3 leading-[1.8rem]">
      @for (check of checkList(); track $index) {
        <li class="acva-para-1 text-neutral-400 flex gap-2 items-center fw-400">
          @if (check.valid) {
            <app-svg src="icons/auth/check-icon.svg"></app-svg>
          } @else {
            <app-svg src="icons/auth/uncheck-icon.svg"></app-svg>
          }
          {{ check.label }}
        </li>
      }
    </ul>
  </mat-menu>
</div>
