.overlay {
  background: #43413E;
  color: white;
  border-radius: 29px;
  text-align: center;
  width: 60%;
  padding: 1rem;
  font-size: 0.8rem;
}

// ::ng-deep .cdk-overlay-pane {
//   bottom: 30rem !important;
//   left: 34rem !important;
// }
