<div class="border-r-2 border-gray-200 p-4 h-full w-full">
  <h3 class="acva-heading-4">Payment History</h3>
  <p class="acva-para-1 text-gray-500">
    Pay all dues across your different semesters and sessions.
  </p>

  <ul class="mt-8 overflow-y-auto h-[73vh]">
    @for (item of [1, 2]; track item) {
      <li
        class="cursor-pointer hover:bg-gray-200 p-2 text-gray-400 py-[1rem] px-[0.6938rem] flex gap-2 rounded-lg"
      >
        <app-svg src="icons/general/result-file-icon.svg" svgWidth="2rem" />
        <div>
          <h5 class="font-semibold flex justify-between">
            100L <span> <app-status-badge status="Pass" /> </span>
          </h5>
          <p class="text-[.9rem]">2024/2025 Academic Session</p>
        </div>
      </li>
    }
  </ul>
</div>
